<?xml version="1.0" encoding="utf-16"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ProjectSupport Caption="" TypeFullName="" Path="" />
  <Languages>
    <Language Name="NitraLang" Path="..\..\..\Nitra\Nitra.Grammar\bin\Debug\Stage2\Nitra.Grammar.dll">
      <DynamicExtensions />
    </Language>
  </Languages>
  <References>
    <Reference>FullName:System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089</Reference>
  </References>
</Config>