<?xml version="1.0" encoding="utf-16"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ProjectSupport Caption="" TypeFullName="" Path="" />
  <Languages>
    <Language Name="Nitra.Tests.JsonLang" Path="../../../Grammars/Bin/Debug/Json.Grammar.dll">
      <DynamicExtensions />
    </Language>
  </Languages>
  <Libs />
</Config>