
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
bin/
*.lib
*.sbr
obj/
_ReSharper*/
[Tt]est[Rr]esult*
*.psess
*.vsp
*.out
*.vsmdi
Nitra/log.txt
Boot2/Net-4.0
Doc/JsonParser.html
Doc/JsonParser.xml
*.stackdump
Doc/Nitra-doc.html
Doc/Nitra-doc.xml
Nitra.gpState
*.gpState
*.Generated.n
Doc/*.html
Doc/*.xml
Doc/ParserResultProcessing-Pics
Nitra.LanguageCompiler/Templates/XXLanguageXXVsPackage/packages/*
**/packages/*
Ide/NitraLangVsPackage/*
Ide/NitraCSharpVsPackage/*
*.nupkg
Doc/Nitra-Ast-and-Symbols-doc-Pics/
Grammars/Samples/BetterXaml/
packages/
Nitra.LanguageCompiler/Templates/XXLanguageXXVsPackage/ExternalTools
Nitra.LanguageCompiler/Templates/XXLanguageXXVsPackage/ExternalDependencies
*.orig
Ide/DotNetLangVsPackage/
Ide/Nitra.LanguageVsPackage/

# Created by https://www.gitignore.io/api/microsoftoffice

### MicrosoftOffice ###
*.tmp

# Word temporary
~$*.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsdx
