
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
bin/
*.lib
*.sbr
obj/
_ReSharper*/
[Tt]est[Rr]esult*
Common/Performance1.psess
N2VsExtentions/Performance1.psess
*.vsp
*.out
N2/log.txt
N2/Boot2/Net-4.0
Doc/JsonParser.html
Doc/JsonParser.xml
*.stackdump
