<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="${name}" publicKeyToken="${publicKeyToken}" Culture="${culture}" />
        <bindingRedirect oldVersion="${oldVersion}-${newVersion}" newVersion="${newVersion}"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>