<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="N2.Visualizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <N2.Visualizer.Properties.Settings>
            <setting name="LastTextInput" serializeAs="String">
                <value>{
      'glossary': {
          'title': 'example glossary',
      'GlossDiv': {
              'title': 'S',
        'GlossList': {
                  'GlossEntry': {
                      'ID': 'SGML',
            'SortAs': 'SGML',
            'GlossTerm': 'Standard Generalized Markup Language',
            'Acronym': 'SGML',
            'Abbrev': 'ISO 8879:1986',
            'GlossDef': {
                          'para': 'A meta-markup language, used to create markup languages such as DocBook.',
              'GlossSeeAlso': ['GML', 'XML']
                      },
            'GlossSee': 'markup',
            'A': 42,
            'B': null,
            'C': nullx,
            'D': xnull,
            'E': true,
            'F': false
                  }
              }
          }
      }
}</value>
            </setting>
            <setting name="LastAssemblyFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastGrammarName" serializeAs="String">
                <value />
            </setting>
            <setting name="LastRuleName" serializeAs="String">
                <value />
            </setting>
        </N2.Visualizer.Properties.Settings>
    </userSettings>
</configuration>