<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="N2.Visualizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <N2.Visualizer.Properties.Settings>
            <setting name="LastTextInput" serializeAs="String">
                <value />
            </setting>
            <setting name="LastAssemblyFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastGrammarName" serializeAs="String">
                <value />
            </setting>
            <setting name="LastRuleName" serializeAs="String">
                <value />
            </setting>
            <setting name="LastLoadParserDirectory" serializeAs="String">
                <value />
            </setting>
        </N2.Visualizer.Properties.Settings>
    </userSettings>
</configuration>