<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Nemerle" publicKeyToken="e080a9c724e2bfcd" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.481" newVersion="1.2.0.481" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Nitra.Runtime" publicKeyToken="e080a9c724e2bfcd" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.1.3211.0" newVersion="0.1.3211.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>