<?xml version="1.0" encoding="utf-8"?>
<Language Name="NitraCSharp" Path="..\..\Grammars\Bin\Debug\CSharp.Grammar.dll">
  <DynamicExtensions>
    <DynamicExtension Name="CSharpJson.Extention" Path="..\..\Grammars\Bin\Debug\CSharp.Json.dll" />
  </DynamicExtensions>
  <Libs>
    <string>FullName:mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089</string>
    <string>FullName:System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089</string>
    <string>FullName:System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089</string>
    <string>FullName:System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089</string>
  </Libs>
</Language>