<?xml version="1.0" encoding="utf-8"?>
<Config Language="NitraNemerle">
  <Lib Path="..\..\..\Grammars\Bin\Debug\Sample.Nemerle.exe">
    <SyntaxModule Name="N2Parser" StartRule="CompilationUnit" />
  </Lib>
  <Lib Path="..\..\..\Grammars\Bin\Debug\Sample.Nemerle.Extensions.dll">
  </Lib>
</Config>