using Nemerle.Utility;

module AssemblyConstants
{
  public Company = "JetBrains";
  public Product = "Nitra Language Framework for Microsoft VisualStudio";
  public ProductDetails = "Nitra Language Framework helps developing domain specific languages (DSL)";
  public Copyright = "Copyright © JetBrains 2014";
  public Version = "${Version}";
  public CommitHash = "${CommitHash}";
  public Trademark = "";
}
