<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Nitra.Visualizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Nitra.Visualizer.Properties.Settings>
            <setting name="LastTextInput" serializeAs="String">
                <value />
            </setting>
            <setting name="TabControlHeight" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="ActiveTabIndex" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="CurrentWorkspace" serializeAs="String">
                <value />
            </setting>
            <setting name="Config" serializeAs="String">
                <value>Debug</value>
            </setting>
            <setting name="SelectedTestNode" serializeAs="String">
                <value />
            </setting>
            <setting name="MainWindowPlacement" serializeAs="String">
                <value />
            </setting>
            <setting name="CaretOffset" serializeAs="String">
                <value>0</value>
            </setting>
        </Nitra.Visualizer.Properties.Settings>
    </userSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
