<?xml version="1.0" encoding="UTF-8"?>

<?include Variables.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="Comp_Grammars" DiskId="1" Guid="$(var.Comp_Grammars_Guid)">
        <File Id="File_CSharp.Grammar.dll" Name="CSharp.Grammar.dll" Source="$(var.GrammarBinariesSourcePath)">
          <netfx:NativeImage Priority="1" Platform="all" Id="Image_CSharp.Grammar.dll" Dependencies="no" AppBaseDirectory="INSTALLFOLDER" />
        </File>
        <File Id="File_Json.Grammar.dll" Name="Json.Grammar.dll" Source="$(var.GrammarBinariesSourcePath)">
          <netfx:NativeImage Priority="1" Platform="all" Id="Image_Json.Grammar.dll" Dependencies="no" AppBaseDirectory="INSTALLFOLDER" />
        </File>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>