<?xml version="1.0" encoding="UTF-8"?>

<?include Variables.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="Comp_CSharpGrammar" DiskId="1" Guid="$(var.Comp_CSharpGrammar_Guid)">
        <File Id="File_CSharp.Grammar.dll" Name="CSharp.Grammar.dll" Source="$(var.GrammarBinariesSourcePath)">
          <netfx:NativeImage Priority="1" Platform="all" Id="Image_CSharp.Grammar.dll" Dependencies="no" AppBaseDirectory="INSTALLFOLDER" />
        </File>
        <?if $(var.Configuration) = "Debug" ?>
        <File Id="File_CSharp.Grammar.pdb" Name="CSharp.Grammar.pdb" Source="$(var.GrammarBinariesSourcePath)" />
        <?endif?>
      </Component>

      <Component Id="Comp_JsonGrammar" DiskId="1" Guid="$(var.Comp_JsonGrammar_Guid)">
        <File Id="File_Json.Grammar.dll" Name="Json.Grammar.dll" Source="$(var.GrammarBinariesSourcePath)" KeyPath="yes">
          <netfx:NativeImage Priority="1" Platform="all" Id="Image_Json.Grammar.dll" Dependencies="no" AppBaseDirectory="INSTALLFOLDER" />
        </File>
        <?if $(var.Configuration) = "Debug" ?>
        <File Id="File_Json.Grammar.pdb" Name="Json.Grammar.pdb" Source="$(var.GrammarBinariesSourcePath)" />
        <?endif?>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>