<?xml version="1.0" encoding="UTF-8"?>

<?include Variables.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Fragment>
    <ComponentGroup Id="CompGroup_Nitra" Directory="INSTALLFOLDER">
      <ComponentRef Id="Comp_Nitra" />
      <ComponentRef Id="Comp_NitraShell" />
    </ComponentGroup>

    <Property Id="COMSPEC" Value="%comspec%" />

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="Comp_Nitra" DiskId="1" Guid="$(var.Comp_Nitra_Guid)">
        <?foreach name in N2.Runtime.dll;N2.Core.dll;N2.Grammar.dll;N2.Compiler.dll;Nitra.exe?>
        <File Id="File_$(var.name)" Name="$(var.name)" Source="$(var.NitraBinariesSourcePath)">
          <netfx:NativeImage Priority="1" Platform="all" Id="Image_$(var.name)" Dependencies="no" AppBaseDirectory="INSTALLFOLDER" />
        </File>
        <?endforeach?>

        <?foreach name in policy.1.0.N2.Runtime.dll;policy.0.1.N2.Core.dll?>
        <File Id="File_$(var.name)" Name="$(var.name)" Source="$(var.NitraBinariesSourcePath)">
          <netfx:NativeImage Priority="1" Platform="all" Id="Image_$(var.name)" Dependencies="no" AppBaseDirectory="INSTALLFOLDER" />
        </File>
        <?endforeach?>

        <?foreach name in policy.1.0.N2.Runtime.config;policy.0.1.N2.Core.config?>
        <File Id="File_$(var.name)" Name="$(var.name)" Source="$(var.NitraBinariesSourcePath)">
          <netfx:NativeImage Priority="1" Platform="all" Id="Image_$(var.name)" Dependencies="no" AppBaseDirectory="INSTALLFOLDER" />
        </File>
        <?endforeach?>

        <File Id="File_NitraVars.bat" Name="NitraVars.bat" Source="NitraVars.bat" />

        <RegistryKey Root="HKLM" Key="$(var.RegKey_AssemblyFoldersEx)">
          <RegistryValue Value="[INSTALLFOLDER]" Type="string" />
          <RegistryValue Id="AppFolder" Value="[INSTALLFOLDER]" Type="string" />
        </RegistryKey>
      </Component>

      <Component Id="Comp_NitraShell" Guid="$(var.Comp_NitraVars_Guid)">
        <Shortcut Id="Shortcut_NitraVars.bat" Directory="ProgramMenuDir" Name="Nitra Command Prompt" Advertise="no"
                  Target="[COMSPEC]" Arguments="/k &quot;[INSTALLFOLDER]NitraVars.bat&quot;" WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKCU" Key="Software\$(var.Manufacturer)\$(var.ProductName)" Name="nitrashell" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>