<?xml version="1.0" encoding="UTF-8"?>

<?include Variables.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Fragment>
    <ComponentGroup Id="NitraComponents" Directory="INSTALLFOLDER">
      <ComponentRef Id="Comp_Nitra" />
    </ComponentGroup>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="Comp_Nitra" DiskId="1" Guid="$(var.Comp_Nitra_Guid)">
        <?foreach name in N2.Runtime.dll;N2.Core.dll;N2.Grammar.dll;N2.Compiler.dll;Nitra.exe?>
        <File Id="File_$(var.name)" Name="$(var.name)" Source="$(var.NitraBinariesSourcePath)">
          <netfx:NativeImage Priority="1" Platform="all" Id="Image_$(var.name)" Dependencies="no" AppBaseDirectory="INSTALLFOLDER" />
        </File>
        <?endforeach?>

        <RegistryKey Root="HKLM" Key="$(var.RegKey_AssemblyFoldersEx)">
          <RegistryValue Value="[INSTALLFOLDER]" Type="string" />
          <RegistryValue Id="AppFolder" Value="[INSTALLFOLDER]" Type="string" />
        </RegistryKey>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>