<?xml version="1.0" encoding="UTF-8"?>

<?include Variables.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Fragment>
    <ComponentGroup Id="NitraComponents" Directory="INSTALLFOLDER">
      <ComponentRef Id="Comp_Nitra" />
    </ComponentGroup>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="Comp_Nitra" DiskId="1" Guid="$(var.Comp_Nitra_Guid)">
        <!-- libraries -->
        <?foreach name in Boot.N2.Runtime;Boot.N2.Core;N2.Runtime;N2.Grammar;N2.Compiler?>
        <File Id="File_$(var.name).dll" Name="$(var.name).dll" Source="$(var.NitraBinariesSourcePath)">
          <netfx:NativeImage Priority="1" Platform="all" Id="Image_$(var.name).dll" Dependencies="no" AppBaseDirectory="INSTALLFOLDER" />
        </File>
        <?if $(var.Configuration) = "Release" ?>
        <File Id="File_$(var.name).xml" Name="$(var.name).xml" Source="$(var.NitraBinariesSourcePath)" />
        <?endif?>
        <?if $(var.Configuration) = "Debug" ?>
        <File Id="File_$(var.name).pdb" Name="$(var.name).pdb" Source="$(var.NitraBinariesSourcePath)" />
        <?endif?>
        <?endforeach?>
        <!-- executables -->
        <?foreach name in Nitra?>
        <File Id="File_$(var.name).exe" Name="$(var.name).exe" Source="$(var.NitraBinariesSourcePath)">
          <netfx:NativeImage Priority="1" Platform="all" Id="Image_$(var.name).exe" Dependencies="no" AppBaseDirectory="INSTALLFOLDER" />
        </File>
        <?if $(var.Configuration) = "Release" ?>
        <File Id="File_$(var.name).xml" Name="$(var.name).xml" Source="$(var.NitraBinariesSourcePath)" />
        <?endif?>
        <?if $(var.Configuration) = "Debug" ?>
        <File Id="File_$(var.name).pdb" Name="$(var.name).pdb" Source="$(var.NitraBinariesSourcePath)" />
        <?endif?>
        <?endforeach?>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>