<?xml version="1.0" encoding="UTF-8"?>

<?include Variables.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="$(var.ProductGuid)"
           UpgradeCode="$(var.UpgradeCode)"
           Name="$(var.ProductLongName)"
           Version="$(var.ProductVersion)"
           Language="1033"
           Manufacturer="$(var.Manufacturer)">
    <Package Id="*"
             Compressed="yes"
             Description="$(var.ProductLongName) installation package"
             InstallerVersion="200"
             ShortNames="no"
             Manufacturer="$(var.Manufacturer)"
             Languages="1033"
             SummaryCodepage="1252" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Condition Message="An administrator must approve or install [ProductName].">
      Privileged
    </Condition>

    <PropertyRef Id="NETFRAMEWORK40CLIENT" />
    <Condition Message="This setup requires the .NET Framework 4 to be installed.">
      Installed OR NETFRAMEWORK40CLIENT
    </Condition>

    <PropertyRef Id="VS2010DEVENV" />
    <PropertyRef Id="VS2012DEVENV" />

    <Media Id="1" Cabinet="$(var.ProductName).cab" EmbedCab="yes" CompressionLevel="high" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="$(var.ProductLongName)">
          <Component Id="RemoveProgramMenuDir" Guid="$(var.RemoveProgramMenuDir_Guid)">
            <!--<Shortcut Id="InvokeRemove" Name="Uninstall $(var.ProductName)" Target="[SystemFolder]msiexec.exe" Arguments="/x [ProductCode]" Description="Uninstall" />-->
            <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\$(var.Manufacturer)\$(var.ProductName)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
          </Component>
        </Directory>
      </Directory>
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="JetBrains" Name="$(var.Manufacturer)">
          <Directory Id="INSTALLFOLDER" Name="$(var.ProductName)" />
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="Feature_Root" Title="Nitra" Description="Complete installation." AllowAdvertise="no" Display="expand" InstallDefault="local" Level="1" Absent="disallow">
      <ComponentRef Id="RemoveProgramMenuDir" />
      <ComponentGroupRef Id="CompGroup_Nitra" Primary="yes" />
      <ComponentGroupRef Id="CompGroup_Visualizer" Primary="yes" />

      <Feature Id="Feature_VS2010Extension" Title="Visual Studio 2010 Support" Description="Visual Studio 2010 Support">
        <Condition Level="1">VS2010DEVENV</Condition>
        <ComponentGroupRef Id="CompGroup_VS2010Extension" />
      </Feature>

      <Feature Id="Feature_VS2012Extension" Title="Visual Studio 2012 Support" Description="Visual Studio 2012 Support">
        <Condition Level="1">VS2012DEVENV</Condition>
        <ComponentGroupRef Id="CompGroup_VS2012Extension" />
      </Feature>
    </Feature>

    <CustomActionRef Id="VS2010Setup" />
    <CustomActionRef Id="VS2012Setup" />
    <InstallExecuteSequence>
      <FindRelatedProducts Before="LaunchConditions" />
      <Custom Action="VS2010Setup" Before="InstallFinalize"><![CDATA[&Feature_VS2010Extension > 1]]></Custom>
      <Custom Action="VS2012Setup" Before="InstallFinalize"><![CDATA[&Feature_VS2012Extension > 1]]></Custom>
    </InstallExecuteSequence>

    <InstallUISequence>
      <FindRelatedProducts Before="LaunchConditions" />
    </InstallUISequence>

    <Property Id="ApplicationFolderName" Value="$(var.ProductName)" />
    <Property Id="ALLUSERS" Value="1" />
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />

    <Property Id="NEMERLEPRODUCT40">
      <ProductSearch UpgradeCode="$(var.NemerleProductUpgradeCode40)" IncludeMinimum="yes" Minimum="$(var.NemerleProductMinVersion)" />
    </Property>
    <Property Id="NEMERLEPRODUCT45">
      <ProductSearch UpgradeCode="$(var.NemerleProductUpgradeCode45)" IncludeMinimum="yes" Minimum="$(var.NemerleProductMinVersion)" />
    </Property>

    <Condition Message="Nemerle v$(var.NemerleProductMinVersion) for $(var.TargetFramework) is required. Please download it from Nemerle.org.">
      Installed OR NEMERLEPRODUCT40 OR NEMERLEPRODUCT45
    </Condition>

    <WixVariable Id="WixUISupportPerMachine" Value="1" />
    <WixVariable Id="WixUISupportPerUser" Value="0" />

    <UI>
      <UIRef Id="UI_Nitra" />
      <UIRef Id="WixUI_ErrorProgressText" />
      <ProgressText Action="VS2010Setup" Template="[1]">Updating Visual Studio 2010 registration</ProgressText>
      <ProgressText Action="VS2012Setup" Template="[1]">Updating Visual Studio 2012 registration</ProgressText>
    </UI>

  </Product>
</Wix>