<?xml version="1.0" encoding="UTF-8"?>

<?include Variables.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:VSExtension="http://schemas.microsoft.com/wix/VSExtension">
  <Fragment>
    <ComponentGroup Id="VisualStudioComponents" Directory="INSTALLFOLDER">
      <ComponentRef Id="Comp_VisualStudio" />
    </ComponentGroup>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="Comp_VisualStudio" DiskId="1" Guid="$(var.Comp_VisualStudio_Guid)">
        <File Id="File_N2.VisualStudio.vsix" Name="N2.VisualStudio.vsix" Source="$(var.VisualStudioPackageSourcePath)">
          <VSExtension:VsixPackage PackageId="N2..3BFC7A3D-B2D0-433C-A271-6A325287410F" Permanent="no" Vital="no" />
        </File>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>