<?xml version="1.0" encoding="UTF-8"?>

<?include Variables.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Fragment>
    <?foreach ide in VS2010;VS2012 ?>
    <ComponentGroup Id="CompGroup_$(var.ide)Extension" Directory="INSTALLFOLDER">
      <ComponentRef Id="Comp_Grammars" />
      <ComponentRef Id="Comp_N2PathVariable"/>
      <ComponentRef Id="Comp_N2GlobalConfig"/>
      <ComponentRef Id="Comp_$(var.ide)Extension" />
      <ComponentRef Id="Comp_$(var.ide)ItemTemplates" />
      <ComponentRef Id="Comp_$(var.ide)ProjectTemplates" />
    </ComponentGroup>
    <?endforeach?>

    <DirectoryRef Id="TARGETDIR">
      <Component Id="Comp_N2PathVariable" DiskId="1" Guid="$(var.Comp_N2PathVariable_Guid)">
        <Environment Id="Env_N2PATH" Name="N2PATH" System="yes" Permanent="no" Part="all" Action="set" Value="[INSTALLFOLDER]" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="Comp_N2GlobalConfig" DiskId="1" Guid="$(var.Comp_N2GlobalConfig_Guid)">
        <File Id="File_N2GlobalConfig.xml" Name="N2GlobalConfig.xml" Source="N2GlobalConfig.xml" />
      </Component>
    </DirectoryRef>

    <?foreach ide in VS2010;VS2012 ?>
    <PropertyRef Id="$(var.ide)_ROOT_FOLDER" />

    <DirectoryRef Id="TARGETDIR">
      <Directory Id="$(var.ide)_ROOT_FOLDER" Name="$(var.ide)">
        <Directory Id="$(var.ide)_Common7_Folder" Name="Common7">
          <Directory Id="$(var.ide)_IDE_Folder" Name="IDE">
            <Directory Id="$(var.ide)_Extensions_Folder" Name="Extensions">
              <Directory Id="$(var.ide)_ExtensionManufacturer_Folder" Name="$(var.Manufacturer)">
                <Directory Id="$(var.ide)_ExtensionName_Folder" Name="$(var.ProductName)">
                  <Directory Id="$(var.ide)_ExtensionVersion_Folder" Name="$(var.ProductVersion)">
                    <Directory Id="$(var.ide)_ItemTemplates_Folder" Name="ItemTemplates" />
                    <Directory Id="$(var.ide)_ProjectTemplates_Folder" Name="ProjectTemplates" />
                  </Directory>
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </DirectoryRef>
    <?endforeach?>

    <DirectoryRef Id="VS2010_ExtensionVersion_Folder">
      <Component Id="Comp_VS2010Extension" DiskId="1" Guid="$(var.Comp_VS2010Extension_Guid)">
        <?foreach name in extension.vsixmanifest;N2.VisualStudio.pkgdef;NLog.dll.nlog ?>
        <File Id="File_VS2010_$(var.name)" Name="$(var.name)" Source="$(var.VisualStudioPackageSourcePath)" />
        <?endforeach?>
        <?foreach name in N2.VisualStudio.dll;N2.Runtime.dll;N2.Core.dll;Nemerle.dll;Nemerle.Diff.dll;NLog.dll ?>
        <File Id="File_VS2010_$(var.name)" Name="$(var.name)" Source="$(var.VisualStudioPackageSourcePath)" />
        <?endforeach?>
        <?if $(var.Configuration) = "Debug" ?>
        <?foreach name in N2.VisualStudio.pdb;N2.Runtime.pdb;N2.Core.pdb ?>
        <File Id="File_VS2010_$(var.name)" Name="$(var.name)" Source="$(var.VisualStudioPackageSourcePath)" />
        <?endforeach?>
        <?endif?>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="VS2010_ItemTemplates_Folder">
      <Component Id="Comp_VS2010ItemTemplates" DiskId="1" Guid="$(var.Comp_VS2010ItemTemplates_Guid)">
        <?foreach name in SyntaxModule.zip ?>
        <File Id="File_VS2010_$(var.name)" Name="$(var.name)" Source="$(var.VisualStudioPackageSourcePath)ItemTemplates\" />
        <?endforeach?>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="VS2010_ProjectTemplates_Folder">
      <Component Id="Comp_VS2010ProjectTemplates" DiskId="1" Guid="$(var.Comp_VS2010ProjectTemplates_Guid)">
        <?foreach name in EmptyParserLibrary.zip;SampleParserApplication.zip ?>
        <File Id="File_VS2010_$(var.name)" Name="$(var.name)" Source="$(var.VisualStudioPackageSourcePath)ProjectTemplates\" />
        <?endforeach?>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="VS2012_ExtensionVersion_Folder">
      <Component Id="Comp_VS2012Extension" DiskId="1" Guid="$(var.Comp_VS2012Extension_Guid)">
        <?foreach name in extension.vsixmanifest;N2.VisualStudio.pkgdef;NLog.dll.nlog ?>
        <File Id="File_VS2012_$(var.name)" Name="$(var.name)" Source="$(var.VisualStudioPackageSourcePath)" />
        <?endforeach?>
        <?foreach name in N2.VisualStudio.dll;N2.Runtime.dll;N2.Core.dll;Nemerle.dll;Nemerle.Diff.dll;NLog.dll ?>
        <File Id="File_VS2012_$(var.name)" Name="$(var.name)" Source="$(var.VisualStudioPackageSourcePath)" />
        <?endforeach?>
        <?if $(var.Configuration) = "Debug" ?>
        <?foreach name in N2.VisualStudio.pdb;N2.Runtime.pdb;N2.Core.pdb ?>
        <File Id="File_VS2012_$(var.name)" Name="$(var.name)" Source="$(var.VisualStudioPackageSourcePath)" />
        <?endforeach?>
        <?endif?>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="VS2012_ItemTemplates_Folder">
      <Component Id="Comp_VS2012ItemTemplates" DiskId="1" Guid="$(var.Comp_VS2012ItemTemplates_Guid)">
        <?foreach name in SyntaxModule.zip ?>
        <File Id="File_VS2012_$(var.name)" Name="$(var.name)" Source="$(var.VisualStudioPackageSourcePath)ItemTemplates\" />
        <?endforeach?>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="VS2012_ProjectTemplates_Folder">
      <Component Id="Comp_VS2012ProjectTemplates" DiskId="1" Guid="$(var.Comp_VS2012ProjectTemplates_Guid)">
        <?foreach name in EmptyParserLibrary.zip;SampleParserApplication.zip ?>
        <File Id="File_VS2012_$(var.name)" Name="$(var.name)" Source="$(var.VisualStudioPackageSourcePath)ProjectTemplates\" />
        <?endforeach?>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>