<?xml version="1.0" encoding="UTF-8"?>

<?include Variables.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Fragment>
    <ComponentGroup Id="CompGroup_Visualizer" Directory="INSTALLFOLDER">
      <ComponentRef Id="Comp_Visualizer" />
      <ComponentRef Id="Comp_AvalonEdit" />
      <ComponentRef Id="Comp_Grammars" />
      <ComponentRef Id="Comp_ResharperPlatform" />
      <ComponentRef Id="Comp_Nemerle.Diff"/>
    </ComponentGroup>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="Comp_Visualizer" DiskId="1" Guid="$(var.Comp_Visualizer_Guid)">
        <File Id="File_N2.Visualizer.exe" Name="N2.Visualizer.exe" Source="$(var.VisualizerBinariesSourcePath)" KeyPath="yes">
          <netfx:NativeImage Priority="1" Platform="all" Id="Image_N2.Visualizer.exe" Dependencies="no" AppBaseDirectory="INSTALLFOLDER" />
          <Shortcut Id="Shortcut_N2.Visualizer.exe" Directory="ProgramMenuDir" Name="Parsing visualizer" WorkingDirectory="INSTALLFOLDER" Advertise="yes" />
        </File>
        <File Id="File_N2.Visualizer.exe.config" Name="N2.Visualizer.exe.config" Source="$(var.VisualizerBinariesSourcePath)" />
      </Component>
      <Component Id="Comp_AvalonEdit" DiskId="1" Guid="$(var.Comp_AvalonEdit_Guid)">
        <File Id="File_ICSharpCode.AvalonEdit.dll" Name="ICSharpCode.AvalonEdit.dll" Source="$(var.VisualizerBinariesSourcePath)">
          <netfx:NativeImage Priority="1" Platform="all" Id="Image_ICSharpCode.AvalonEdit.dll" Dependencies="no" AppBaseDirectory="INSTALLFOLDER" />
        </File>
      </Component>
      <Component Id="Comp_ResharperPlatform" DiskId="1" Guid="$(var.Comp_ResharperPlatform_Guid)">
        <?foreach name in JetBrains.Platform.ReSharper.ComponentModel.dll;JetBrains.Platform.ReSharper.Shell.dll;JetBrains.Platform.ReSharper.UI.dll;JetBrains.Platform.ReSharper.Util.dll?>
        <File Id="File_$(var.name)" Name="$(var.name)" Source="$(var.ResharperPlatformBinariesSourcePath)">
          <netfx:NativeImage Priority="1" Platform="all" Id="Image_$(var.name)" Dependencies="no" AppBaseDirectory="INSTALLFOLDER" />
        </File>
        <?endforeach?>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>