<?xml version="1.0" encoding="UTF-8"?>

<?include Variables.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment>
    <?foreach ide in VS2010;VS2012 ?>

    <PropertyRef Id="$(var.ide)_ROOT_FOLDER" />

    <ComponentGroup Id="CompGroup_$(var.ide)Extension" Directory="INSTALLFOLDER">
      <ComponentRef Id="Comp_CSharpGrammar" />
      <ComponentRef Id="Comp_JsonGrammar" />
      <ComponentRef Id="Comp_NitraPathVariable"/>
      <ComponentRef Id="Comp_NitraGlobalConfig"/>
      <ComponentRef Id="Comp_Nitra.VisualStudio"/>
      <ComponentRef Id="Comp_Nemerle.Diff"/>
      <ComponentRef Id="Comp_NLog"/>
      <ComponentRef Id="Comp_$(var.ide)Extension" />
      <ComponentRef Id="Comp_$(var.ide)ItemTemplates" />
      <ComponentRef Id="Comp_$(var.ide)ProjectTemplates" />
    </ComponentGroup>

    <DirectoryRef Id="TARGETDIR">
      <Directory Id="$(var.ide)_ROOT_FOLDER" Name="$(var.ide)">
        <Directory Id="$(var.ide)_Common7_Folder" Name="Common7">
          <Directory Id="$(var.ide)_IDE_Folder" Name="IDE">
            <Directory Id="$(var.ide)_Extensions_Folder" Name="Extensions">
              <Directory Id="$(var.ide)_ExtensionManufacturer_Folder" Name="$(var.Manufacturer)">
                <Directory Id="$(var.ide)_ExtensionName_Folder" Name="$(var.ProductName)">
                  <Directory Id="$(var.ide)_ExtensionVersion_Folder" Name="$(var.ProductVersion)">
                    <Directory Id="$(var.ide)_ItemTemplates_Folder" Name="ItemTemplates">
                      <Directory Id="$(var.ide)_NitraItemTemplates_Folder" Name="Nitra" />
                    </Directory>
                    <Directory Id="$(var.ide)_ProjectTemplates_Folder" Name="ProjectTemplates">
                      <Directory Id="$(var.ide)_NitraProjectTemplates_Folder" Name="Nitra" />
                    </Directory>
                  </Directory>
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </DirectoryRef>

    <?endforeach?>

    <DirectoryRef Id="TARGETDIR">
      <Component Id="Comp_NitraPathVariable" DiskId="1" Guid="$(var.Comp_NitraPathVariable_Guid)">
        <Environment Id="Env_NITRAPATH" Name="NITRAPATH" System="yes" Permanent="no" Part="all" Action="set" Value="[INSTALLFOLDER]" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="Comp_NitraGlobalConfig" DiskId="1" Guid="$(var.Comp_NitraGlobalConfig_Guid)">
        <File Id="File_NitraGlobalConfig.xml" Name="NitraGlobalConfig.xml" Source="NitraGlobalConfig.xml" />
      </Component>
      <Component Id="Comp_Nitra.VisualStudio" DiskId="1" Guid="$(var.Comp_Nitra.VisualStudio_Guid)">
        <File Id="File_Nitra.VisualStudio.dll" Name="Nitra.VisualStudio.dll" Source="$(var.VisualStudioPackageSourcePath)">
          <netfx:NativeImage Id="Image_Nitra.VisualStudio.dll" Priority="1" Platform="all" Dependencies="no" AppBaseDirectory="INSTALLFOLDER" />
        </File>
        <?if $(var.Configuration) = "Debug" ?>
        <File Id="File_Nitra.VisualStudio.pdb" Name="Nitra.VisualStudio.pdb" Source="$(var.VisualStudioPackageSourcePath)" />
        <?endif?>
      </Component>
      <Component Id="Comp_Nemerle.Diff" DiskId="1" Guid="$(var.Comp_Nemerle.Diff_Guid)">
        <File Id="File_Nemerle.Diff.dll" Name="Nemerle.Diff.dll" Source="$(var.VisualStudioPackageSourcePath)">
          <netfx:NativeImage Id="Image_Nemerle.Diff.dll" Priority="1" Platform="all" Dependencies="no" AppBaseDirectory="INSTALLFOLDER" />
        </File>
      </Component>
      <Component Id="Comp_NLog" DiskId="1" Guid="$(var.Comp_NLog_Guid)">
        <File Id="File_NLog.dll" Name="NLog.dll" Source="$(var.VisualStudioPackageSourcePath)">
          <netfx:NativeImage  Id="Image_NLog.dll" Priority="1" Platform="all" Dependencies="no" AppBaseDirectory="INSTALLFOLDER" />
        </File>
        <File Id="File_NLog.dll.nlog" Name="NLog.dll.nlog" Source="$(var.VisualStudioPackageSourcePath)" />
      </Component>
    </DirectoryRef>

    <!-- VS2010 Specific components -->

    <DirectoryRef Id="VS2010_ExtensionVersion_Folder">
      <Component Id="Comp_VS2010Extension" DiskId="1" Guid="$(var.Comp_VS2010Extension_Guid)">
        <File Id="File_VS2010_extension.vsixmanifest" Name="extension.vsixmanifest" Source="$(var.VisualStudioPackageSourcePath)extension.vsixmanifest" />
        <util:XmlFile Id="Xml_VS2010_extension.vsixmanifest_1" File="[VS2010_ExtensionVersion_Folder]extension.vsixmanifest" SelectionLanguage="XPath"
                      Action="setValue" ElementPath="//*[\[]local-name()='InstalledByMsi'[\]]" Value="true" />
        <util:XmlFile Id="Xml_VS2010_extension.vsixmanifest_2" File="[VS2010_ExtensionVersion_Folder]extension.vsixmanifest" SelectionLanguage="XPath"
                      Action="setValue" ElementPath="//*[\[]local-name()='MefComponent' and contains(text(), 'Nitra.VisualStudio.dll')[\]]" Value="[INSTALLFOLDER]Nitra.VisualStudio.dll" />

        <File Id="File_VS2010_Nitra.VisualStudio.pkgdef" Name="Nitra.VisualStudio.pkgdef" Source="$(var.VisualStudioPackageSourcePath)" />
        <IniFile Id="Ini_VS2010_Nitra.VisualStudio.pkgdef" Name="Nitra.VisualStudio.pkgdef" Directory="VS2010_ExtensionVersion_Folder"
                 Action="addLine" Section="$RootKey$\Packages\{ee439415-4a80-4181-b0a8-1233b1bbbabc}" Key="&quot;CodeBase&quot;" Value="&quot;[INSTALLFOLDER]Nitra.VisualStudio.dll&quot;" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="VS2010_NitraItemTemplates_Folder">
      <Component Id="Comp_VS2010ItemTemplates" DiskId="1" Guid="$(var.Comp_VS2010ItemTemplates_Guid)">
        <?foreach name in SyntaxModule.zip ?>
        <File Id="File_VS2010_$(var.name)" Name="$(var.name)" Source="$(var.VisualStudioPackageSourcePath)ItemTemplates\" />
        <?endforeach?>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="VS2010_NitraProjectTemplates_Folder">
      <Component Id="Comp_VS2010ProjectTemplates" DiskId="1" Guid="$(var.Comp_VS2010ProjectTemplates_Guid)">
        <?foreach name in EmptyParserLibrary.zip;SampleParserApplication.zip ?>
        <File Id="File_VS2010_$(var.name)" Name="$(var.name)" Source="$(var.VisualStudioPackageSourcePath)ProjectTemplates\" />
        <?endforeach?>
      </Component>
    </DirectoryRef>

    <!-- VS2012 Specific components -->

    <DirectoryRef Id="VS2012_ExtensionVersion_Folder">
      <Component Id="Comp_VS2012Extension" DiskId="1" Guid="$(var.Comp_VS2012Extension_Guid)">
        <File Id="File_VS2012_extension.vsixmanifest" Name="extension.vsixmanifest" Source="$(var.VisualStudioPackageSourcePath)extension.vsixmanifest" />
        <util:XmlFile Id="Xml_VS2012_extension.vsixmanifest_1" File="[VS2012_ExtensionVersion_Folder]extension.vsixmanifest" SelectionLanguage="XPath"
                      Action="setValue" ElementPath="//*[\[]local-name()='InstalledByMsi'[\]]" Value="true" />
        <util:XmlFile Id="Xml_VS2012_extension.vsixmanifest_2" File="[VS2012_ExtensionVersion_Folder]extension.vsixmanifest" SelectionLanguage="XPath"
                      Action="setValue" ElementPath="//*[\[]local-name()='MefComponent' and contains(text(), 'Nitra.VisualStudio.dll')[\]]" Value="[INSTALLFOLDER]Nitra.VisualStudio.dll" />

        <File Id="File_VS2012_Nitra.VisualStudio.pkgdef" Name="Nitra.VisualStudio.pkgdef" Source="$(var.VisualStudioPackageSourcePath)" />
        <IniFile Id="Ini_VS2012_Nitra.VisualStudio.pkgdef" Name="Nitra.VisualStudio.pkgdef" Directory="VS2012_ExtensionVersion_Folder"
                 Action="addLine" Section="$RootKey$\Packages\{ee439415-4a80-4181-b0a8-1233b1bbbabc}" Key="&quot;CodeBase&quot;" Value="&quot;[INSTALLFOLDER]Nitra.VisualStudio.dll&quot;" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="VS2012_NitraItemTemplates_Folder">
      <Component Id="Comp_VS2012ItemTemplates" DiskId="1" Guid="$(var.Comp_VS2012ItemTemplates_Guid)">
        <?foreach name in SyntaxModule.zip ?>
        <File Id="File_VS2012_$(var.name)" Name="$(var.name)" Source="$(var.VisualStudioPackageSourcePath)ItemTemplates\" />
        <?endforeach?>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="VS2012_NitraProjectTemplates_Folder">
      <Component Id="Comp_VS2012ProjectTemplates" DiskId="1" Guid="$(var.Comp_VS2012ProjectTemplates_Guid)">
        <?foreach name in EmptyParserLibrary.zip;SampleParserApplication.zip ?>
        <File Id="File_VS2012_$(var.name)" Name="$(var.name)" Source="$(var.VisualStudioPackageSourcePath)ProjectTemplates\" />
        <?endforeach?>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>